@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-cyan-600: #4d96a9;
    --color-cyan-300: #8fe3f9;
    --color-purple-600: #855fb1;
    --color-purple-300: #d9b8ff;
    --color-slate-900: #28283d;
    --color-slate-600: #87879d;
    --color-slate-300: #d1d1df;
    --color-white: #fafafa;
    --font-sans: "Red Hat Display", sans-serif;
    --spacing-50: 0.25rem;
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-900: 4.5rem;
    --spacing-1000: 5rem;
    --spacing-1400: 7rem;
}

.text-preset-1 {
    font-family: var(--font-sans);
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.1;
}

.text-preset-2 {
    font-family: var(--font-sans);
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.1;
}

.text-preset-3 {
    font-family: var(--font-sans);
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: 0.5rem;
}

.text-preset-4 {
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.1;
}

.text-preset-5 {
    font-family: var(--font-sans);
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.5;
}

@media screen and (max-width: 64rem) {
   .text-preset-1 {
        font-size: 3rem;
    }

    .text-preset-2 {
        font-size: 2.25rem;
    }

    .text-preset-3 {
        font-size: 0.875rem;
    }

    .text-preset-4 {
        font-size: 1rem;
    } 
}

@media screen and (max-width: 48rem) {
   .text-preset-1 {
        font-size: 2.5rem;
    }

    .text-preset-2 {
        font-size: 2rem;
    }

    .text-preset-3 {
        font-size: 0.75rem;
    }

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    color: var(--color-slate-600);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-800);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: grid;
}

.section-hero {
    grid-template-columns: 1fr var(--spacing-800) 1fr 1fr var(--spacing-800) 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-areas: 
        "hero-left . hero-title hero-title . hero-right"
        "hero-left . hero-text hero-text . hero-right"
        "hero-left . download-button faq-button . hero-right";
}

.hero-image-mobile {
    display: none;
}

.hero-image-left {
    grid-area: hero-left;
}

.hero-image-right {
    grid-area: hero-right;
}

.hero-title {
    grid-area: hero-title;
    color: var(--color-slate-900);
}

.hero-text {
    grid-area: hero-text;
    color: var(--color-slate-600);
}

.button {
    padding: var(--spacing-200) var(--spacing-500);
    align-content: center;
    text-align: center;
    color: white;
    border-radius: 1.8125rem;
    margin: var(--spacing-100);
    width: fit-content;
    height: fit-content;
    justify-self: center;
    text-decoration: none;
    flex-shrink: 0;
    transition: background-color 0.3s ease;
    white-space: nowrap; 
}

.cyan-button {
    grid-area: download-button;
    background-color: var(--color-cyan-600);
}

.cyan-button:hover {
    background-color: #71C0D4;
}

.purple-button {
    grid-area: faq-button;
    background-color: var(--color-purple-600);
}

.purple-button:hover {
    background-color: #B18BDD;
}

.cyan-button .download-version {
    color: var(--color-cyan-300);
}

.purple-button .download-version {
    color: var(--color-purple-300);
}

.section-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr 3fr 3fr;
    grid-template-areas: 
        "image-1 image-2 image-3 image-4"
        ". sub-title sub-title ."
        ". main-title main-title ."
        ". description description ."

}

.img-tile {
    width: 16rem;
    height: 16rem;
    border-radius: var(--spacing-100);
    justify-self: center;
}

.img-tile-1 {
    grid-area: image-1;
}

.img-tile-2 {
    grid-area: image-2;
}

.img-tile-3 {
    grid-area: image-3;
}

.img-tile-4 {
    grid-area: image-4;
}

.sub-title-1 {
    align-self: end;
    justify-self: center;
    grid-area: sub-title;
    color: var(--color-cyan-600);

    padding-top: var(--spacing-200);
}

.title-1 {
    align-self: start;
    justify-self: center;
    grid-area: main-title;
    color: var(--color-slate-900);
}

.description-1 {
    grid-area: description;
    color: var(--color-slate-600);
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.section.section-2  {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgba(77,150,168, 0.75), rgba(77,150,168, 0.75)), url("../images/desktop/image-footer.jpg");
    background-size: cover;
    color: var(--color-white);
    align-items: center;
    padding: var(--spacing-1400) var(--spacing-1000);
    gap: var(--spacing-400);
}

.number-circle {
    border: var(--color-slate-300) solid 1px;
    display: grid;
    place-items: center;
    width: var(--spacing-700);
    height: var(--spacing-700);
    border-radius: var(--spacing-400);
    position: relative;
    margin-top: var(--spacing-700);
}

.number-circle::before {
    border: var(--color-slate-300) solid 0.5px;
    height: var(--spacing-1000);
    width: 0;
    position: absolute;
    bottom: 100%;
    content: '';
    transform: translateX(-50%);
    left: 50%;
}

.footer-container .number-circle {
    margin-bottom: -2rem;
    background-color: var(--color-white);
}
